<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpringBootMybatis.hellodb.mapper.TestimpMapper">

	<select id="getTestimpById" parameterType="int" resultType="Testimp">
		SELECT * FROM testimp WHERE ID=#{id}
	</select>

	<select id="getALLTestimp" resultType="Testimp">
		select * from testimp
	</select>

	<delete id="deleteTestimpById" parameterType="int">
		delete from testimp where id=#{id}
	</delete>

	<insert id="insertTestimpById" parameterType="Testimp">
		insert into testimp(freq,word) values(#{freq}, #{word})
	</insert>

	<update id="updateTestimpById" parameterType="Testimp">
		update testimp set freq=#{freq},word=#{word} where id=#{id}
	</update>
</mapper>
